{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Index</title>
</head>
<body>
<center> 
	<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
	<h3 style="color:#337ab7">Welcome To My Login Page!!</h3>
	{% if msg %}
	 	<b style="color: green;">{{msg}}</b>
	 {% endif %}
	<form name="login" method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<table>
			<tr>
				<td>Email:</td>
				<td><input type="text" name="email"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td>
					<input type="submit" name="action" value="Login" class="btn btn-primary">
				</td>
				<td>
					<a href=""><input type="button" name="action" value="Forgot Password" class="btn btn-info"></a>
				</td>
			</tr>
		</table>
	</form>
</div>
</center>
</body>
</html>
{% endblock %}